<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='kvr-logo.png') }}">

<title>Modern Hero Section</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Poppins:700,400&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
<style>
  .cta-btn a{
    text-decoration: none;
    color:white;
    font-size: 1.4rem;
  }
</style>

</head>
<body>
    <nav class="navbar">
  <a href="{{ url_for('index') }}" ><h1 class="netflix-font">KVR Infinity</h1></a>
  <div class="nav-links">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('display_blogs') }}">Blog</a>
    <a href="{{ url_for('career') }}">Career</a>
    <a href="{{ url_for('contact') }}">Contact</a>
    
  </div>
  <div class="login-wrapper">
    <a href="{{ url_for('login') }}" class="bold-text">Login</a>
  </div>
</nav>

<!-- ABOUT US SECTION -->
<section class="about-section">
  <div class="about-text">
    <h1>
      Our Story the Journey<br />
      That’s Shapped <span class="blue">Our Success</span>
    </h1>
    <p>
      KVR Infinity is an AI-integrated upskilling and hiring platform designed to bridge the gap between talent and opportunity
    </p>
    <button class="cta-btn"><a href="{{ url_for('login') }}" >Begin Your Journey</a></button>
  </div>

  <div class="about-image-card">
    <img src="{{ url_for('static', filename='faq-team.png') }}" alt="Team Working" />
  </div>
</section>
<section class="stats-section">
  <div class="stats-header">
    <div class="stats-title">
      <h2>Work Shapes Lives.<br /> <span>We Help You to Shape It Right</span></h1>
    </div>
    <div class="stats-subtext">
      <p>
        "Work, when crafted with clarity<br />
        and purpose, doesn't just fill time<br />
        -it fuels transformation."
      </p>
    </div>
  </div>

  <div class="stats-grid">
    <div class="stat-box dark">
      <h2>7+</h2>
      <p>Years of <br />Experience</p>
    </div>
    <div class="stat-box blue">
      <h2>20+</h2>
      <p>Expert<br />Faculty</p>
    </div>
    <div class="stat-box dark">
      <h2>40+</h2>
      <p>Excinting Courses<br />Coming your way</p>
    </div>
    <div class="stat-box blue">
      <h2>1000+</h2>
      <p>Minds Building<br /> Better Future</p>
    </div>
  </div>
</section>


  <section class="team-section">
    <h1 style="text-align:center; margin-top: 10px;"><span style="color:rgb(223, 1, 1)">OUR</span> SQUAD</h1>
  <div class="team-header">
    <h2>Meet the <span>Minds Powering </span>Our Mission</h2>
    <p>Our team's got your back! Meet the awesome brains and doers who make things happens and keep the mission rolling everyday.</p>
  </div>

  <!-- Executive Department -->
  <div class="department-group">
    <h3>Executive Department</h3>
    <div class="team-grid">
      <div class="team-card">
        <img src="{{ url_for('static', filename='praveen.jpg') }}">
        <h4>Praveen Kumar Kumbakonam</h4>
        <p>CEO</p>
        <a href="https://www.linkedin.com/in/praveenkumbhakonam/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='muskan2.jpeg') }}">
        <h4>Muskan Singh</h4>
        <p>HR</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='nidheesh.jpeg') }}">
        <h4>Nidheesh N A</h4>
        <p>Executive Head</p>
        <a href="https://linkedin.com/in/alokmajumdar" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- Assistants -->
  <div class="department-group">
    <h3>Assistants</h3>
    <div class="team-grid">
      <div class="team-card">
        <img src="{{ url_for('static', filename='vibitha.jpeg') }}">
        <h4>Vibitha</h4>
        <p>H.R Assistant</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='susmitha.jpeg') }}">
        <h4>Sushmitha</h4>
        <p>CEO Assistant</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- Marketing Team -->
  <div class="department-group">
    <h3>Marketing Team</h3>
    <div class="team-grid">
      <div class="team-card">
        <img src="{{ url_for('static', filename='minali.jpg') }}">
        <h4>Minali Rathod</h4>
        <p>Marketing Head</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='anuj.jpeg') }}">
        <h4>Anuj</h4>
        <p>Marketing Assistant</p>
        <a href="https://www.linkedin.com/in/anuj-jain23/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='anjana.jpeg') }}">
        <h4>Anjana</h4>
        <p>Marketing Assistant</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='divin.jpeg') }}">
        <h4>Divin Kori</h4>
        <p>Visual Designer</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- IT Team -->
  <div class="department-group">
    <h3>IT Team</h3>
    <div class="team-grid">
      <div class="team-card">
        <img src="{{ url_for('static', filename='nishan.jpg') }}">
        <h4>Nishan Kamath</h4>
        <p>Junior Software Developer</p>
        <a href="https://www.linkedin.com/in/nishan-kamath-b2891b26b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='harshini.jpeg') }}">
        <h4>Harshini B.T</h4>
        <p>Junior Software Developer</p>
        <a href="https://www.linkedin.com/in/harshini-bt-94622b247/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='sumedh.jpeg') }}">
        <h4>Sumedh K.S Hathwar</h4>
        <p>Junior Software Developer</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='sathvika.jpeg') }}">
        <h4>Sathwika A</h4>
        <p>Junior Software Developer</p>
        <a href="https://www.linkedin.com/in/sathwika-a-b079bb367/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- Finance Team -->
  <div class="department-group">
    <h3>Finance Team</h3>
    <div class="team-grid">
      <div class="team-card">
        <img src="{{ url_for('static', filename='amruth.jpeg') }}">
        <h4>Amruth</h4>
        <p>Finance Head</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="team-card">
        <img src="{{ url_for('static', filename='shilpa.jpeg') }}">
        <h4>Shilpa</h4>
        <p>Finance(Expenditure)</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- Sales Team -->
  <div class="department-group">
    <h3>Sales Team</h3>

      <div class="team-card">
        <img src="{{ url_for('static', filename='pavan.jpg') }}">
        <h4>Billa Pavan Kumar</h4>
        <p>Sales Head</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>

  <div class="department-group">
    <h3>Business Analyst</h3>
  
      <div class="team-card">
        <img src="{{ url_for('static', filename='sanjana.jpeg') }}">
        <h4>Sanjana Mohan</h4>
        <p>Business Analyst</p>
        <a href="https://linkedin.com/in/meerasharma" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
  
  </div>
  
</section>

  <h1 style="text-align:center; margin-top: 42px;">We are onboarding the Indias best faculties</h1>
  

 
  <footer class="footer">
  <div class="footer-container">
    <div class="footer-column brand">
      <h2>KVR Infinity</h2>
      
      <p>First Floor, KH-Connects, JP Nagar 4th phase, Bengaluru, India - 560078.</p>
      <p>CIN :  U72900AP2019PTC113696</p>
      <p><i class="fa fa-envelope"></i> care@kvrinfinity.in</p>
      <p><i class="fa fa-phone"></i> +91 8106 147 247</p>
    </div>

    <div class="footer-column">
      <h4>COMPANY</h4>
      <ul>
        <li>About Us</li>
        <li>Careers</li>
        <li>Media</li>
        <li>Collaborations</li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Popular Subjects</h4>
      <ul>
        <li>Aptitude</li>
        <li>Prompt Engineering</li>
        <li>Computer Basics</li>
        <li>Quality Assurance</li>
        <li>Full-Stack development</li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>RESOURCES</h4>
      <ul>
        <li><a href="{{ url_for('display_blogs') }}">Blog</a></li>
        <li><a href="{{ url_for('privacy_policy') }}">Privacy & Policy</a></li>
        <li><a href="{{ url_for('terms_and_conditions') }}">Terms & Conditions</a></li>
        <li><a href="{{ url_for('cookies_policy') }}">Cookies Policy</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>GET IN TOUCH</h4>
      <ul class="social-icons">
  <li>
    <a href="https://www.facebook.com/share/1YxisyLvjM/" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/kvr_infinity?igsh=cXBrYTMzcGJidnU1&utm_source=qr" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="https://whatsapp.com/channel/0029Va5CZ8EFMqrWbQGahy3y" target="_blank">
      <i class="fab fa-whatsapp"></i> 
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/kvr-infinity/" target="_blank">
      <i class="fab fa-linkedin"></i> 
    </a>
  </li>
</ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>2025 © KVR Infinity - www.kvrinfinity.in</p>
    <a href="#">Terms Conditions & Policy</a>
  </div>
</footer>
</body>
</html>
